@import url('https://fonts.googleapis.com/css2?family=Delius&family=IBM+Plex+Mono&family=Itim&display=swap');

.navbar {
  background: #00132d;
  display: flex;
}

.navbar > * {
  color: rgb(0, 255, 136);
}

.navbar-header {
  margin-left: 10px;
}


.brand {
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(0, 255, 136);
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.nav-item {
  margin: 0 10px;

  font-size: 20px;
  font-family: 'Itim', cursive;
}
